.adoption_location_text {
  margin-top: 15px;
}
.adoption_location_text > span {
  /* display: flex; */
  margin-right: 30px;
  font-size: 40px;
}
.adoption_location_text > span > a {
  color: #a3a3a3;
  font-size: 32px;
}
.list_top_img {
  margin: auto;
  margin-top: 60px;
  width: 1200px;
  height: 259px;
  background-image: url(../source/adoption-tempo_banner.svg);
}
.adoption_process {
  margin: auto;
  margin-top: 186px;
  margin-left: 513px;
  border: none;
  background: #FFFFFF;
  border-radius: 50px;
  width: 174px;
  height: 43px;
  background-image: url(../source/adoption_process_btn.svg);
  cursor: pointer;
}
.adoption_process:active {
  margin: auto;
  margin-top: 186.5px;
  margin-left: 513.5px;
}
.adop_list_top {
  margin: auto;
  display: flex;
  justify-content: flex-end;
  width: 1200px;
}
.list_top_subtext {
  color: #787878;
}
.list_top_subtext {
  margin-right: 445px;
  margin-top: 25px;
  font-size: 18px;
}
.list_top_sort > select {
  border: none;
  margin-top: 31px;
  font-size: 18px;
}
.list_top_sort > select:last-child {
  margin-right: 16px;
  margin-left: 20px;
}
