.adoption_location_text {
  margin-top: 15px;
}
.adoption_location_text > span {
  /* display: flex; */
  margin-right: 30px;
  font-size: 40px;
}
.adoption_location_text > span > a {
  color: #a3a3a3;
  font-size: 32px;
}
.list_top_img {
  margin: auto;
  margin-top: 60px;
  width: 1200px;
  height: 259px;
  background-image: url(../source/adoption-tempo_banner.svg);
}
.adoption_process {
  margin: auto;
  margin-top: 186px;
  margin-left: 513px;
  border: none;
  background: #FFFFFF;
  border-radius: 50px;
  width: 174px;
  height: 43px;
  background-image: url(../source/adoption_process_btn.svg);
  cursor: pointer;
}
.adoption_process:active {
  margin: auto;
  margin-top: 186.5px;
  margin-left: 513.5px;
}
.adop_list_top {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.list_top_subtext {
  color: #787878;
}
.list_top_subtext {
  width: 600px;
  height: 26px;
  margin-right: 0px;
  /* margin-right: 370px; */
  margin-top: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #787878;
}
.sort_btn_select_box {
  display: flex;
  justify-content: right;
  width: 219px;
  margin-top: 31px;
}
.sort_btn_select_box > div:first-child {
  margin-right: 27px;
}
.sort_btn_select_box > div:last-child {
  margin-right: 16px;
}
.hide{
  display: none;
}
.hide2{
  display: none;
}
.show{
  display: block;
}
.show2{
  display: block;
}
/* 셀렉트 영역 스타일 */
.select{
  position: relative;
  /* margin-top: 20px; */
  /* padding-top: 5px; */
  /* margin-right: 16px; */
  padding-bottom: 5px;
  width: 71px;
  height: 26px;
  border-radius: 5px;
  cursor: pointer;


  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: #000000;
}
.select >img {
  align-items: right;
  margin-left: 2px;
  width: 12px;
  height: 6.51px;
  margin-bottom: 5px;
}
/* 옵션 영역 스타일 */
.select ul{
  position: absolute;
  top: 30px;
  left: auto;
  left: -12px;
  width: 96px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#hide2 {
  height: 160px;
  overflow-x:hidden;
  overflow-y:scroll;
}
#hide2::-webkit-scrollbar {
  height: 18px;
  width: 2px;
}
#hide2::-webkit-scrollbar-thumb {
  border: 2px solid #787878;
}
.select ul li{
  margin-left: 5px;
  width: 76px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D1D1D1;

  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.select ul li:hover{
  font-size: 16.5px;
  font-weight: bold;
}