.detailpage_bg {
    margin: auto;
    margin-top: 35px;
    width: 1920px;
}
.detailpage_bg > hr {
    margin: auto;
    margin-top: 60px;
    width: 1200px;
    color: #535353;
}
.detailpage_explain {
    margin: auto;
    width: 1200px;
}
.detailpage_title_share_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.detailpage_title_date_id >h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #93A761;
}
.detailpage_date_id {
    display: flex;
    margin-top: 23px;
}
.detailpage_date_id >h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #A3A3A3;
}
.detailpage_date_id > img {
    height: 21px;
    margin-top: 4px;
    margin-left: 21px;
    margin-right: 21px;
}
.detailpage_id {
    margin-left: 13px;
}
.detailpage_share_btns > img {
    width: 33.94px;
    height: 33.94px;
    margin-left: 11.7px;
}
.detailpage_title_img {
    margin: auto;
    margin-top: 75px;
    width: 455px;
    height: 394px;
    border-radius: 15px;
    background-image: url(../source/tempo_detailpage_img.png);
}
/* 입양_보호소 페이지 이미지 */
.shelter_detailpage_img >div{
    margin: auto;
    margin-top: 75px;
    width: 455px;
    height: 394px;
    border-radius: 15px;
}
.indicaotr {
    width: 657px;
    margin: auto;
    position: relative;
    top: -235px;
    display: flex;
    justify-content: space-between;
}
.slick-dots {
    width: 1200px;
    list-style: none;
    text-align: center;
    position: absolute;
    padding: 0;
    padding-top: 35px;
}
.slick-dots li {
    margin: auto;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li:not(:last-child) {
    margin-right: 9px;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}
.slick-dots li button:before {
    font-size: 2.7rem;
    line-height: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: #B8B8B8;
}
.slick-dots li.slick-active button:before {
    color: #5F5F5F;
}
.basicinfo {
    margin-top: 106px;
    display: flex;
}
.basicinfo_l {
    width: 575px;
}
.basicinfo_r {
    margin-left: 24px;
    width: 567px;
}
.basicinfo td {
    text-indent: 25px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 220%;
    color: #818181;
}
.basicinfo th {
    width: 183px;
    height: 72px;
    border: none;
    background-color: #f5f6f1;
    text-align: left;
    text-indent: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 220%;
    color: #787878;
}
.info_edit_request_btn {
    margin-top: 40px;
    display: flex;
    justify-content: right;
}
.info_edit_request_btn > a {
    width: 155px;
    height: 61px;
    box-sizing: border-box;
    border-radius: 15px;
}
.info_edit_request_btn > a > h6 {
    margin: auto;
    margin-top: 14px;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}
.info_edit_btn {
    background: #FFFFFF;
    border: 1px solid #93A761;
    margin-right: 30px;
}
.info_edit_btn > h6 {
    color: #93A761;
}
.info_request_btn {
    background: #93A761;
}
.info_request_btn > h6 {
    color: #FFFFFF;
}
.shelter_contents {
    margin: auto;
    margin-top: 99px;
    width: 1200px;
}
.shelter_contents > h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 220%;
    color: #A3A3A3;
}
.shelter_num_url_box {
    margin-top: 15px;
}
.shelter_num_url_box >div >h3 {
    width: 170px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.shelter_num_url_box >div >h4 {
    margin-left: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
}
.shelter_url {
    margin-top: 35px;
}
.shelter_num,
.shelter_url {
    display: flex;
}
.get_shelter_num,
.get_shelter_url {
    margin-left: 22px;
    user-select:text !important;
    -webkit-user-select:text !important;
    -moz-user-select:text !important;
    -ms-user-select:text !important;
}
.goto_shelter_homepage {
    margin-left: 30px;
    text-align: center;
    line-height: 41px;
    width: 117px;
    height: 41px;
    background: #93A761;
    border-radius: 10px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.info_bott_caution {
    text-align: center;
    margin: auto;
    margin-top: 95px;
    width: 820px;
    height: 86px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.info_bott_caution > h3 {
    padding-top: 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #787878
}
.detailpage_top_line {
    margin: auto;
    margin-top: 97px;
    width: 1200px;
    color: #A3A3A3;
}
.pets_explain_contents {
    margin: auto;
    margin-top: 59px;
    width: 1200px;
}
.pets_explain_contents_detail_info_btn{
    width:227px;
    height: 45px;
    margin:auto;
    display:block;
    background: #FFFFFF;
    border: 1px solid #93A761;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #787878;
    cursor: pointer;
}
/* .pets_explain_contents_detail_info_btn:hover {
    font-size: 24.5px;
}
.pets_explain_contents_detail_info_btn:active {
    font-size: 24.5px;
    box-shadow: 0px 0px 1.5px 1.5px #93a7613a;
} */
.pets_explain_contents_detail_info {
    margin-top: 59px;
    text-align: center;
    display: none;
}
.detailpage_bott_line {
    margin: auto;
    margin-top: 55px;
    width: 1200px;
    color: #A3A3A3;
}
.detailpage_comments {
    margin: auto;
    margin-top: 66px;
    width: 1200px;
}
.detailpage_comments_count,
.detailpage_comments_count >span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #787878;
}
.detailpage_comments_content {
    margin-top: 16px;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #787878;
}
.comments_box,
.comments_reply_box {
    display: flex;
    justify-content: space-between;
}
.comments_box:not(:first-child) {
    margin-top: 24px;
}
.comments_reply_box {
    margin-top: 24px;
}
.comment_profile_text,
.comment_reply_profile_text {
    display: flex;
}
.comments_reply_div_bar {
    width: 13px;
    height: 13px;
    padding-top: 11px;
    margin-left: 58px;
    margin-right: 15px;
}
.comments_profile_img {
    width: 39px;
    height: 39px;
    border-radius: 100%;
    border: none;
    background: powderblue;
}
.comments {
    margin-left: 15px;
}
.comments > h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
}
.comments_date_reply_btn {
    display: flex;
    margin-top: 21px;
}
.comments_date_reply_btn > h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #787878;
}
.comments_date_reply_btn > button {
    margin-left: 24px;
    width: 45px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #A3A3A3;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #A3A3A3;
}
.comment_edit_delete_btn {
    display: flex;
    justify-content: center;
    width: 93px;
    height: 32px;
    background: #FFFFFF;
    opacity: 0.66;
    border: 1px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
}
.comment_edit_delete_btn > img {
    height: 21px;
    margin-top: 5px;
    margin-left: 13px;
    margin-right: 13px;
}
.comment_edit_btn,
.comment_delete_btn {
    border: none;
    background: #FFFFFF;
}
.comment_edit_btn >img,
.comment_delete_btn >img{
    margin-top: 7px;
    width: 18px;
    height: 18px;
}
/* 댓글 paging 부분 */ 
.my_paging_nav {
    margin: auto;
    margin-top: 61px;
    width: 1200px;
}
.my_paging {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}
.my_paging_item:not(:first-child)  {
    margin-right: 17px;
}
.my_paging_item:nth-last-child(2) {
    margin-right: 0px;
}
#my_prev_btn,
#my_next_btn {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.my_paging_link > img {
    margin: auto;
    width: 9.04px;
    height: 12.52px;
}
#my_prev_btn {
    margin-right: 22px;
}
#my_next_btn {
    margin-left: 22px;
}
/* 댓글 작성하는 부분 */
.detailpage_comments_write {
    margin-top: 57px;
    display: flex;
}
#write_comment {    
    width:912.16px;
    height: 44px;
    /* 댓글 쓰는 곳 폰트 정하기; */
    font-size: 24px;
    line-height: 35px;
    background: #FFFFFF;
    opacity: 0.66;
    border: 1px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
    resize: none;
    overflow: auto;
}
.add_comment {
    margin-left: 36.84px;
    width: 150px;
    height: 44px;
    background: #93A761;
    border-radius: 10px;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #93A761;
    cursor: pointer;
}
/* .add_comment:hover {
    font-size: 24.5px;
}
.add_comment:active {
    font-size: 24.5px;
    box-shadow: 0px 0px 1.5px 1.5px #93a7613a;
} */