.detailpage_bg {
    margin: auto;
    margin-top: 35px;
    width: 1920px;
}
.detailpage_bg > hr {
    margin: auto;
    margin-top: 60px;
    width: 1200px;
    color: #535353;
}
/* 여기 */
.detailpage_explain {
    /* background-color: skyblue; */
    margin: auto;
    width: 1200px;
}
.detailpage_title_share_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.detailpage_title_date_id >h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #93A761;
}
.detailpage_date_id {
    display: flex;
    margin-top: 23px;
}
.detailpage_date_id >h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #A3A3A3;
}
.detailpage_date_id > img {
    height: 21px;
    margin-top: 4px;
    margin-left: 21px;
    margin-right: 21px;
}
.detailpage_id {
    margin-left: 13px;
}
.detailpage_share_btns > img {
    width: 33.94px;
    height: 33.94px;
    margin-left: 11.7px;
}
.detailpage_title_img {
    margin: auto;
    margin-top: 75px;
    width: 455px;
    height: 394px;
    border-radius: 15px;
    background-image: url(../source/tempo_detailpage_img.png);
}
.basicinfo {
    margin-top: 106px;
    display: flex;
}
.basicinfo_l {
    width: 575px;
}
.basicinfo_r {
    margin-left: 24px;
    width: 567px;
}
.basicinfo td {
    text-indent: 25px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 220%;
    color: #818181;
}
.basicinfo th {
    width: 183px;
    height: 72px;
    border: none;
    background-color: #f5f6f1;
    text-align: left;
    text-indent: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 220%;
    color: #787878;
}
.info_edit_request_btn {
    margin-top: 40px;
    display: flex;
    justify-content: right;
}
.info_edit_request_btn > a {
    width: 155px;
    height: 61px;
    box-sizing: border-box;
    border-radius: 15px;
}
.info_edit_request_btn > a > h6 {
    margin: auto;
    margin-top: 14px;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}
.info_edit_btn {
    background: #FFFFFF;
    border: 1px solid #93A761;
    margin-right: 30px;
}
.info_edit_btn > h6 {
    color: #93A761;
}
.info_request_btn {
    background: #93A761;
}
.info_request_btn > h6 {
    color: #FFFFFF;
}




.info_bott_caution {
    text-align: center;
    margin: auto;
    margin-top: 95px;
    width: 820px;
    height: 86px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.info_bott_caution > h3 {
    padding-top: 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #787878
}
/* 여기 이전*/
.detailpage_top_line {
    margin: auto;
    margin-top: 97px;
    width: 1200px;
    color: #A3A3A3;
}
.pets_explain_contents {
    margin: auto;
    margin-top: 59px;
    width: 1200px;
}
.pets_explain_contents_detail_info_btn{
    width:227px;
    height: 45px;
    margin:auto;
    display:block;
    background: #FFFFFF;
    border: 1px solid #93A761;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #787878;
    cursor: pointer;
}
.pets_explain_contents_detail_info_btn:hover {
    font-size: 24.5px;
}
.pets_explain_contents_detail_info_btn:active {
    font-size: 24.5px;
    box-shadow: 0px 0px 1.5px 1.5px #93a7613a;
}
.pets_explain_contents_detail_info {
    margin-top: 59px;
    text-align: center;
    display: none;
    /* background-color: steelblue; */
}
.detailpage_bott_line {
    margin: auto;
    margin-top: 55px;
    width: 1200px;
    color: #A3A3A3;
}
.detailpage_comments {
    margin: auto;
    margin-top: 66px;
    width: 1200px;
}
.detailpage_comments_box {
    margin-left: 36px;
}
.detailpage_comments_count {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
}
.detailpage_comments_content {
    margin-top: 16px;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #787878;
}
.detailpage_comments_content > p:not(first-child) {
    margin-top: 6px;
    width: 912.16px;
    /* background-color: coral; */
}
.detailpage_comments_content > p > span {
    /* background-color: cornflowerblue; */
    float: right;
    /* margin-top: 50%; */
}
.detailpage_comments_write {
    margin-top: 65px;
    display: flex;
}
#write_comment {    
    width:912.16px;
    height: 44px;
    
    /* 댓글 쓰는 곳 폰트 정하기;; */
    font-size: 24px;
    line-height: 35px;

    background: #FFFFFF;
    opacity: 0.66;
    border: 1px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */

/* 댓글 쓸 때 모양 관련 */
    resize: none;
    overflow: auto;
}
.add_comment {
    /* margin-top: 0px; */
    margin-left: 36.84px;
    width: 150px;
    height: 44px;
    background: #93A761;
    border-radius: 10px;

    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #93A761;
    
    cursor: pointer;
}
.add_comment:hover {
    font-size: 24.5px;
}
.add_comment:active {
    font-size: 24.5px;
    box-shadow: 0px 0px 1.5px 1.5px #93a7613a;
}

/* footer 추가시 변경할 곳 */
.detailpage_bg {
    margin-bottom: 190px;
}