* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  padding: 0px;
  color: black;
}

body {
  margin: 0;
  /* contents margin은 좌우 360 */
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  margin: auto;
  width: 1920px;
  height: 152px;
  left: 0px;
  top: 0px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  /* background-color: darkolivegreen; */
}

.headergroup {
  display: flex;
  /* width: 1200px; */
  height: 152px;
  margin-right: 360px;
  margin-left: 360px;
}

.header_logo >a>img{
  /* width: 238px;
  height: 64px; */
  width: 260px;
  height: 52px;
  margin-top: 48px;
}

.header_logo button {
  /* background-color: #93a761; */
  border: none;
  border-radius: 15px;
  width: 238px;
  height: 64px;
}

.header_right {
  margin-left: 303px;
  height: 104px;
  /* background-color: darkmagenta; */
}
.header_right > ul {
  margin: auto;
}

.header_navbar {
  list-style: none;
  display: flex;
  /* width: 633px; */
  width: 760px;
  height: 35px;
  padding-top: 27px;
  justify-content: space-between;
  /* background-color: slateblue; */

}
.header_navbar ul {
  margin: auto;
  width: 120px;
  height: 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  /* border: 1px solid seagreen; */
}

.nav_green_bar {
  margin-top: 24px;
  width: 120px;
  height: 8px;
  border-radius: 50px;
  visibility: hidden;
  /* display: none; */
  margin-bottom: 32px;
}
.header_navbar ul:hover .nav_green_bar {
  visibility: visible;
}
.subnav_li {
  margin-bottom: 20px;
}
.subnav:hover {
  color: #93A761;
}
.subnav {
  display: none;
  /* margin-bottom: 20px; */
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #787878;
}



/* .weme:hover #weme_greenbar {
  display: block;
  background-color: #93a761;
}
.temp:hover #temp_greenbar {
  display: block;
  background-color: #93a761;
}
.adop:hover #adop_greenbar {
  display: block;
  background-color: #93a761;
}
.info:hover #info_greenbar {
  display: block;
  background-color: #93a761;
}
.user:hover #user_greenbar {
  display: block;
  background-color: #93a761;
} */







.user_icon {
  width: 22px;
  height: 22.29px;
}
.user_icon > div > img {
  margin-bottom: -5px;
}
.user_icon_gray {
  position: relative;
}
.user_icon_green {
  position: absolute;
  top: 69px;
  display: none;
}
/* .user_icon:hover .user_icon_green{
  display: inline-block;
  margin-left: -13px;
} */

.join_login {
  display: flex;
  justify-content: right;
  padding-top: 19px;
  margin-right: 0px;
  width: 633px;
  height: 23px;
  /* background-color: darkorange; */
}

.join_login li {
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  color: #464646;

  padding: 0px 15px 0px 15px;
}
.join_login_div_line {
  margin-top: 4px;
  width: 1px;
  height: 15px;
}