* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  padding: 0px;
  color: black;
}
body {
  margin: 0px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  margin: auto;
  width: 1920px;
  height: 152px;
  left: 0px;
  top: 0px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.nav_bott {
  position: absolute;
  top: 152px;
  margin: auto;
  width: 1920px;
  height: 220px;
  visibility: hidden;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.headergroup {
  display: flex;
  position: absolute;
  height: 152px;
  margin-right: 360px;
  margin-left: 360px;
}
.header_logo >a>img{
  width: 260px;
  height: 52px;
  margin-top: 48px;
}
.header_logo button {
  border: none;
  border-radius: 15px;
  width: 238px;
  height: 64px;
}
.header_right {
  margin-left: 303px;
  height: 104px;
}
.header_right > ul {
  margin: auto;
}
.header_navbar {
  list-style: none;
  display: flex;
  width: 760px;
  height: 35px;
  padding-top: 27px;
  justify-content: space-between;
}
.header_navbar ul {
  margin: auto;
  width: 120px;
  height: 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}
.nav_green_bar {
  margin-top: 24px;
  width: 120px;
  height: 8px;
  border-radius: 50px;
  visibility: hidden;
  margin-bottom: 32px;
}
.header_navbar ul:hover .nav_green_bar {
  visibility: visible;
}
.subnav_li {
  margin-bottom: 20px;
}
.subnav:hover {
  color: #93A761;
}
.subnav {
  display: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #787878;
}
.user_icon {
  width: 22px;
  height: 22.29px;
}
.user_icon > div > img {
  margin-bottom: -5px;
}
.user_icon_gray {
  position: relative;
}
.user_icon_green {
  position: absolute;
  top: 69px;
  right: 63px;
  display: none;
}
.join_login {
  display: flex;
  justify-content: right;
  padding-top: 19px;
  margin-right: 0px;
  width: 633px;
  height: 23px;
}
.join_login li {
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  color: #464646;
  padding: 0px 15px 0px 15px;
}
.join_login_div_line {
  margin-top: 4px;
  width: 1px;
  height: 15px;
}