* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  padding: 0px;
  color: black;
}

body {
  margin: 0;
  /* contents margin은 좌우 360 */
}

a {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  /* position: absolute; */
  width: 1920px;
  height: 152px;
  left: 0px;
  top: 0px;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.headergroup {
  display: flex;
  width: 1920px;
  height: 152px;
  /* left: 0px;
  top: 0px; */
  margin-right: 360px;
  margin-left: 360px;
}

.header_logo {
  width: 238px;
  height: 64px;
  padding-top: 48px;
}

.header_logo button {
  background-color: #93a761;
  border: none;
  border-radius: 15px;
  width: 238px;
  height: 64px;
}

.header_navbar {
  list-style: none;
  display: flex;
  position: absolute;
  width: 633px;
  height: 35px;
  left: 925px;
  top: 69px;
  margin: 0;
  justify-content: space-between;
}

.header_navbar li {
  font-weight: bold;
  font-size: 24px;
}

.header_navbar a:hover {
  color: #93a761;
}

.join_login {
  display: flex;
  justify-content: right;
  position: absolute;
  width: 172px;
  height: 23px;
  left: 1387px;
  top: 19px;
  margin: 0px;
}

.join_login li {
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  color: #464646;

  padding: 0px 15px 0px 15px;
  border-right: 1px solid #000000;
}

.join_login li:first-child {
  border-left: 1px solid #000000;
}
