* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  padding: 0px;
  color: black;
}

body {
  margin: 0;
  /* contents margin은 좌우 360 */
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  margin: auto;
  width: 1920px;
  height: 152px;
  left: 0px;
  top: 0px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.headergroup {
  display: flex;
  width: 1200px;
  height: 152px;
  margin-right: 360px;
  margin-left: 360px;
}

.header_logo {
  width: 238px;
  height: 64px;
  padding-top: 48px;
}

.header_logo button {
  background-color: #93a761;
  border: none;
  border-radius: 15px;
  width: 238px;
  height: 64px;
}

.header_right {
  margin-left: 327px;
  height: 104px;
}
.header_right > ul {
  margin: auto;
}

.header_navbar {
  list-style: none;
  display: flex;
  width: 633px;
  height: 35px;
  padding-top: 27px;
  justify-content: space-between;

}
.header_navbar li {
  margin: auto;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}
.header_navbar li:not(:last-child) {
  margin-right: 90px;
}
.header_navbar a:hover {
  color: #93a761;
}
.user_icon {
  width: 22px;
  height: 22.29px;
}
.user_icon > div > img {
  margin-bottom: -5px;
}
.user_icon_gray {
  position: relative;
}
.user_icon_green {
  position: absolute;
  top: 69px;
  display: none;
}
.user_icon:hover .user_icon_green{
  display: block;
}

.join_login {
  display: flex;
  justify-content: right;
  padding-top: 19px;
  margin-right: 0px;
  width: 633px;
  height: 23px;
}

.join_login li {
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  color: #464646;

  padding: 0px 15px 0px 15px;
  border-right: 1px solid #000000;
}

.join_login li:first-child {
  border-left: 1px solid #000000;
}
