* {
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}
/* 드래그 방지 */
body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
h4 {
  font-size: 24px;
  font-weight:lighter;
}
.emergency_text > h1,
.home_Knowledge_text > h1,
.home_review_text > h1{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}
.emergency_text > h4,
.home_Knowledge_text > h4,
.home_review_text > h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #787878;
}
#next_btn > button {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}
/* 더보기 버튼 */
#more_btn1,
#more_btn2,
#more_btn3{
  display: flex;
  margin-right: 360px;
  width: 68px;
}
#more_btn_text {
  margin-top: -5px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;  
  text-align: center;
  color: #A3A3A3;
}
#more_btn_arrow{
  margin-left: 8px;
  height: 16.21px;
  width: 10px;
  border: none;
  background: rgba(255, 255, 255, 0);
}
.home_bg {
  margin-top: 35px;
}
.intro_img {
  width: 1920px;
  height: 542px;  
  background-image: url(../source/home_banner1.svg);
  margin: auto;
}
.home_emergency {
  width: 1920px;
  margin: auto;
}
.home_emergency_top {
  display: flex;
}
.emergency_text {
  height: 77px;
  margin-top: 93px;
  margin-left: 778px;
}
.emergency_text > h1 {
  margin: auto;
  height: 46px;
}
.emergency_text > h4 {
  margin: auto;
  margin-top: 5px;
  height: 26px;
}
.emergency_more_btn {
  margin: auto;
  margin-left: 363px;
  width: 68px;
  height: 26px;
  font-size: 18px;
  margin-top: 93px;
}
.home_emergency_bott_contents_box {
  display: flex;
  width: 1920px;
  height: 383px;
}
.home_emergency_bott {
  position: relative;
  top: 51px;
  width: 1260px;
  margin: auto;
  display: flex;
}
.emergency_contents {
  margin: auto;
  width: 257px;
}
.emergency_pet_img {
  width: 257px;
  height: 228px;
  border-radius: 15px;
}
.emergency_loca {
  width: 257px;
  text-align: center;
  margin-top: 28px;
}
/* 위쪽 화살표 관련 */
.indicaotr {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 1090px;
  padding-left: 331px;
  width: 1260px;  
}
.prevArrow {
  position: relative;
  width: 48px;
  height: 48px;
  border: none;
}
.nextArrow {
  position: relative;
  width: 48px;
  height: 48px;
  border: none;
}
/* 슬라이드 마지막에서 화살표 숨기기(위/아래 모두) */
.slick-disabled {
  visibility: hidden;
}
.home_emergency_mid {
  position: relative;
  display: flex;
  top: 33px;
  justify-content: flex-start;
}
.home_emergency_mid >  li {
  width: 110px;
  height: 48px;
  text-align: center;
  border: none;
  border-radius: 79px;
  transition-duration: 0.3s;
}
#emergency_btn1 {
  background: #93A761;
}
#emergency_btn1 > h4 {
  color: white;
}
.home_emergency_mid > li > h4 {
  position: relative;
  top: 7px;
  color: #A3A3A3;
}
.home_Knowledge_top_img_add {
  width: 1920px;
  margin: auto;
  margin-top: 320px;
  margin-bottom:-125px;
}
.home_Knowledge_top_img_add > img {
  margin-left: 115px;
  width: 103.82px;
  height: 134px;
}
.home_Knowledge_top {
  display: flex;
  width: 1920px;
  height: 344px;
  margin: auto;
  margin-top: 116px;
  background-image: url(../source/home_banner2.png);
}
.home_Knowledge_more_btn {
  width: 68px;
  height: 26px;
  margin-top: 93px;
  margin-left: 309px;
  height: 26px;
}
.home_Knowledge_text {
  height: 77px;
  margin-top: 93px;
  margin-left: 748px;
}
.home_Knowledge_text > h1 {
  margin: auto;
  height: 46px;
}
.home_Knowledge_text > h4 {
  margin: auto;
  margin-top: 5px;
  height: 26px;
}
.home_emergency_mid {
  width: 1200px;
  margin: auto;
  font-size: 18px;
  margin-top: -395px;
}
.home_Knowledge_choose {
  position: relative;
  display: flex;
  top: -126px;
  width: 1920px;
  margin: auto;
}
.home_Knowledge_choose > a {
  margin: auto;
  text-align: center;
}
.home_Knowledge_choose > a:first-child {
  margin-right: 0px;
}
.home_Knowledge_choose > a:nth-child(2) {
  margin-right: 122px;
  margin-left: 122px;
}
.home_Knowledge_choose > a:last-child {
  margin-left: 0px;
}
.home_Knowledge_img {
  margin: auto;
  width: 227px;
  height: 227px;  
  border: 0px;
  border-radius: 100%;
  background-color: #fff;
}
.home_Knowledge_title {
  margin-top: 16px;
}
.home_Knowledge_title > h4{
  color: #787878;
}
.home_review_top {
  display: flex;
  width: 1920px;
  margin: auto;
  margin-top: 187px;
}
.home_review_text {
  margin-left: 792px;
  text-align: center;
}
.home_review_text > h1 {
  height: 46px;
  margin: auto;
  line-height: 46px;
}
.home_review_text > h4 {
  height: 26px;
  margin-top: 5px;
  line-height: 26px;
  text-align: center;
}
.home_review_more_btn {
  margin: auto;
  margin-right: 0px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #A3A3A3;
}
.home_review_choose_box {
  display: flex;
  margin: auto;
  margin-top: 46px;
  width: 1920px;
}
.home_review_choose {
  display: flex;
  width: 1260px;
  height: 290px;
  margin: auto;
  margin-left: 300px;
}
.home_review_box {
  position: relative;
  z-index: 1;
  left: -4px;
  color: black;
  width: 584px;
  height: 251px;
  margin-top:4px;
  margin-left: 30px;
  margin-bottom: 50px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.home_review_title {
  margin-top: 44px;
  height: 35px;
  margin-left: 51px;
  font-weight: 500;
  font-size: 24px;
}
.home_review_contents {
  display: flex;
  margin-top: 24px;
}
.home_review_contents > div {
  margin-left: 52px;
  margin-bottom: 51px;
  height: 104px;
  font-size: 18px;
  line-height: 29px;
}
.home_review_contents_img {
  background-image: url(../source/home_review_img.png);
  margin-left: 28px;
  margin-right: 51px;
  margin-bottom: 51px;
  width: 115px;
  height: 115px;
  border-radius: 15px;
}
.indicaotr2 {
  margin-top: 124px;
}
.prevArrow2 {
  position: relative;
  right: 1515px;
}
.nextArrow2 {
  position: relative;
  right: 331px;
}