* {
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}
/* 드래그 방지 */
body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
h4 {
  font-size: 24px;
  font-weight:lighter;
}
.emergency_text > h1,
.home_Knowledge_text > h1,
.home_review_text > h1{
  font-size: 32px;
}
.emergency_text > h4,
.home_Knowledge_text > h4,
.home_review_text > h4 {
  font-size: 18px;
  color: #535353;
  font-weight:lighter;
}
.intro_text {
  width: 1920px;
  height: 542px;
  background-image: url(../source/home_banner1.png);
  margin: auto;
  /* background-color: #F1F1F1; */
}
.intro_text > h1 {
  margin: auto;
  padding-top: 241px;
  font-size: 40px;
  text-align: center;
}
.home_emergency {
  width: 1920px;
  margin: auto;
}
.home_emergency_top {
  display: flex;
  position: relative;
}
.emergency_text {
  width: 340px;
  padding-top: 93px;
  padding-left: 790px;
  text-align: center;
}

.emergency_more_btn {
  font-size: 18px;
  padding-top: 93px;
  padding-left: 363px;
}

.home_emergency_mid {
  position: relative;
  display: flex;
  top: 33px;
  justify-content: flex-start;
}

.home_emergency_mid >  li {
  width: 110px;
  height: 48px;
  text-align: center;
  border: none;
  border-radius: 79px;
  transition-duration: 0.3s;
}
.home_emergency_mid > li:active {
  /* border: 1.5px solid #93A761; */
  background-color: #93A761;
}
.home_emergency_mid > li > h4:active {
  color: white;
}
.home_emergency_mid > li > h4 {
  position: relative;
  top: 7px;
  /* font-size: 24px; */
  color: #A3A3A3;
}
.home_emergency_bott {
  display: flex;
}
.home_emergency_bott > a{
  margin-top: 51px;
  color: #787878;
}
.home_emergency_bott > a:first-child{
  margin-left: 360px;
}
.home_emergency_bott > a:not(:last-child){
  margin-right: 58px;
}
.emergency_pet_img {
  margin-top: 51px;
  width: 256px;
  height: 228px;
  border: 0px;
  border-radius: 15px;
  /* background-color: #F1F1F1; */
}
.emergency_loca {
  text-align: center;
  margin-top: 28px;
}

.home_Knowledge_top {
  display: flex;
  width: 1920px;
  height: 344px;
  margin: auto;
  margin-top: 116px;
  background-image: url(../source/home_banner2.png);
  /* background-color: #F1F1F1; */
}
.home_Knowledge_text {
  width: 424px;
  padding-top: 93px;
  padding-left: 790px;
  text-align: center;
}
.home_Knowledge_more_btn {
  font-size: 18px;
  padding-top: 93px;
  padding-left: 321px;
}

.home_Knowledge_choose {
  position: relative;
  display: flex;
  top: -126px;
  width: 1920px;
  margin: auto;
}
.home_Knowledge_choose > a:first-child{
  margin-left: 437px;
}
.home_Knowledge_choose > a:not(:last-child){
  margin-right: 182px;
}
.home_Knowledge_img {
  width: 227px;
  height: 227px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border: 0px;
  border-radius: 100%;
  background-color: #fff;
}
.home_Knowledge_title {
  margin-top: 16px;
}
.home_Knowledge_title > h4{
  color: #787878;
}
.home_review_top {
  display: flex;
  width: 1920px;
  margin: auto;
  margin-top: 206px;
  background-color: #F1F1F1;
}
.home_review_text {
  width: 424px;
  padding-left: 790px;
  text-align: center;
}
.home_review_more_btn {
  font-size: 18px;
  padding-left: 321px;
}