.info_datilpage_bg {
    margin: auto;
    margin-top: 35px;
    width: 1920px;
}
hr {
    margin: auto;
    margin-top: 34px;
    width: 1200px;
    border: 1px solid #787878;

}
.info_detailpage_top_contents_box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 60px;
    width: 1200px;
}
.info_detail_icon_text {
    display: flex;
}
.info_detail_icon {
    width: 91px;
    height: 91px;
}
.info_detail_text {
    margin-left: 20px;
}
.info_detail_text > h5 {
    margin-top: 9px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* text-align: center; */
    color: #93A761;
}
.info_detail_text > h6 {
    margin-top: 9px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* text-align: center; */
    color: #A3A3A3;
}
.info_detail_copy_url {
    /* background-color: aqua; */
    text-align: center;
    height: 26px;
    margin-top: 53px;

    
}
.info_detail_copy_url > a {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    color: #A3A3A3;
}

.info_detail1,
.info_detail2,
.info_detail3 {
    margin: auto;
    margin-top: 61px;
    width: 1200px;
    text-align: center;
}
.info_detail1 >img,
.info_detail3 >img {
    width: 820px;
}
.info_detail2 >img {
    width: 821px;
}
.info_bott {
    margin-top: 59px;
    text-align: center;
}
.info_bott_caution {
    margin: auto;
    width: 820px;
    height: 86px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.info_bott_caution > h3 {
    padding-top: 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #787878
}
.info_bott_share {
    margin: auto;
    margin-top: 59px;
    width: 300px;
}
.info_bott_share > img {
    width: 47px;
    height: 47px;
    cursor: pointer;
}
.info_bott_share > img:not(:last-child) {
    margin-right: 16px;
}
.go_info_review_list_btn {
    margin: auto;
    margin-top: 59px;
    width: 226px;
    height: 51px;
    border: none;
    background: #93A761;
    border-radius: 10px;
    
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;

    cursor: pointer;
}
.go_info_review_list_btn:hover {
    font-size: 24.5px;
}