* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}
.info_bg {
  margin: auto;
  margin-top: 35px;
  width: 1920px;
}
.info_top {
  width: 1200px;
  margin-left: 360px;
}
.info_location {
  display: flex;
}
.info_location > li,
.info_location > li > a {
  margin-right: 9px;
  font-size: 18px;
  color: #787878;
}
.info_location_text {
  width: 148px;
  margin-top: 15px;
  font-size: 40px;
  font-weight: bolder;
}
.info_top > hr {
  margin-top: 60px;
  width: 1200px;
  height: 0px;
  color: #787878; 
}
.infolist {
  margin: 107px 360px 0 360px;
}
.thumbnail {
  display: flex;
  justify-content: space-between;
}
.thumbnail_img {
  margin: auto;
  width: 227px;
  height: 227px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  border: 0px;
  border-radius: 100%;
  background-color: #fff;
}
#thumbnail_img1{
  background-image: url(../source/home_Knowledge_img1.svg);
}
#thumbnail_img2{
  background-image: url(../source/home_Knowledge_img2.svg);
}
#thumbnail_img3{
  background-image: url(../source/home_Knowledge_img3.svg);
}
.thumbnail_title {
  margin-top: 50px;
  color: #000000;
  text-align: center;
}
