* {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 32px;
  font-style: bold;
  text-align: center;
}

h4 {
  font-size: 24px;
  font-style: normal;
  line-height: 38.5px;
}

h5 {
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
}

.main {
  height: 729px;
  background: linear-gradient(#f5f6f1 10%, white);
}
.intro_top {
  margin-left: 360px;
}

.keywordsIntro {
  background-color: #f5f6f1;
  /* width: 1920px; */
  height: 376px;
}

.keywords h1 {
  padding-top: 53px;
  padding-bottom: 25px;
}

.keywords h4 {
  text-align: center;
  color: #747474;
  padding-bottom: 55px;
}

.keys {
  /* margin: 0px 360px 0px 360px; */
  position: relative;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
}

.keyword1,
.keyword2,
.keyword3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyText {
  /* position: absolute; */
  height: 263px;
  width: 334px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}

.keyText h5 {
  text-align: center;
  padding-top: 124px;
  line-height: 26px;
}

.team {
  margin-top: 449px;
}
