* {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

.joinhead {
  text-align: center;
}

.joinhead h1 {
  position: absolute;
  width: 148px;
  height: 58px;
  left: 866px;
  top: 231px;
  text-align: center;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
}

.joinhead hr {
  position: absolute;
  width: 594px;
  height: 0px;
  left: 663px;
  top: 317px;

  border: 1px solid #d9d9d9;
}

.formJoin {
  position: absolute;
  width: 713px;
  height: 1093px;
  left: 603px;
  top: 369px;

  background: #f5f6f1;
  border-radius: 15px;
  text-align: center;

  padding-bottom: 71;
}

.formJoin h2 {
  text-align: left;
  padding: 0px 0px 71px 60px;
}

.textForm {
  text-align: left;
  padding-left: 60px;
  background: none;
  padding-bottom: 53px;

  font-size: 24px;
  line-height: 35px;
}

.username {
  width: 407px;
  height: 48px;
  border: none;
  outline: none;
  background: white;

  margin-left: 20px;
}

.phonenumber {
  width: 407px;
  height: 48px;
  border: none;
  outline: none;
  background: white;

  margin-left: 45px;
}

.email {
  width: 190px;
  height: 48px;
  /* margin: 0px 64px 40px 242px; */
  border: none;
  outline: none;
  background: white;

  padding-bottom: 0px;
  margin-left: 65px;
}

select {
  width: 185px;
  height: 48px;

  padding: 5px;
  border: none;
  background: white;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* select::-ms-expand {
  display: none;
} */

.nickname {
  width: 407px;
  height: 48px;

  border: none;
  outline: none;
  background: white;

  margin-left: 65px;
}

.userID {
  width: 407px;
  height: 48px;
  /* margin: 0px 64px 40px 242px; */
  border: none;
  outline: none;
  background: white;

  margin-left: 65px;
}

.pwrd {
  width: 407px;
  height: 48px;

  border: none;
  outline: none;
  background: white;

  margin-left: 65px;
}

.pwrdRule {
  text-align: left;
  padding-left: 246px;
  background: none;

  font-weight: 500;
  line-height: 23px;
  color: #787878;
  font-size: 16px;

  margin-left: 65px;
}

.pwrdCheck {
  width: 407px;
  height: 48px;

  border: none;
  outline: none;
  background: white;

  margin-left: 65px;
}

.btn {
  /* position: absolute; */
  width: 499px;
  height: 80px;
  background-color: #93a761;
  border: none;
  border-radius: 15px;

  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #ffffff;

  display: inline;
  cursor: pointer;
}

.footer {
  position: absolute;
  width: 1920px;
  left: -1px;
  top: 1652px;
  height: 128px;
  background-color: #93a761;

  margin: 0px;
  padding: 0px;
}
