* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}
/* 드래그 방지 */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list_bg {
  margin: auto;  
  margin-top: 35px;
  width: 1920px;
}
.list_top {
  width: 1200px;
  margin-left: 360px;
}
.list_location {
  display: flex;
}
.list_location > li,
.list_location > li > a {
  margin-right: 9px;
  font-size: 18px;
  color: #787878;
}
.adoption_location_text {
  display: flex;
}
.list_location_text {
  width: 148px;
  height: 58px;
  margin-top: 15px;
  font-size: 40px;
  font-weight: bolder;
}
.list_top > hr {
  margin-top: 60px;
  width: 1200px;
  height: 0px;
  color: #787878;
}
.list_location_text2 {
  display: flex;
  margin-top: 24px;
  height: 46px;
}
.list_location_text2 > img {
  margin-top: 9px;
  margin-left: 12px;
  margin-right: 12px;
  width: 2.5px;
  height: 36px;
}
.list_sort_btn {
  margin: auto;
  margin-top: 31px;
  display: flex;
  justify-content: flex-end;
  width: 1200px;
}
.list_sort_btn > div:first-child {
  margin-right: 36px;
}
.list_sort_btn > div:last-child {
  margin-right: 16px;
}
.list_contents {
  margin: auto;
  width: 1200px;
}
.list_contents > ul{
  display: flex;  
  margin-top: 87px;
}
.list_contents > ul:first-child {
  margin-top: 31px;
}
.list_contents > ul > a {
  margin-right: 59px;
  text-decoration: none;
}
.list_img {
  width: 361px;
  height: 228px;
  border-radius: 15px;
}
.list_contents > ul > a > li > div > h1 {
  color: black;
  font-size: 24px;
}
.list_sort {
  margin-top: 13px;
}
.list_sort > span {
  display: inline-block;
  text-align: center;
  height: 22px;
  margin-right: 12px;
  border-radius: 7px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  color: black;
}
.sort1 {
  width: 85px;
  background: #f5f6f1;
}
.sort2 {
  width: 64px;
  background: #dddfa0;
}
.sort3 {
  width: 70px;
  background: #93a761;
}
.list_sort > span > h4 {
  margin-top: -2px;
  height: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}
/* 페이지 번호 */
.paging_nav {
  margin: auto;
  margin-top: 87px;
  width: 1200px;
}
.paging {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.paging_item:not(:first-child)  {
  margin-right: 17px;
}
.paging_item:nth-last-child(2) {
  margin-right: 0px;
}
#prev_btn,
#next_btn {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.paging_link > img {
  margin: auto;
  width: 9.04px;
  height: 12.52px;
}
#prev_btn {
  margin-right: 22px;
}
#next_btn {
  margin-left: 22px;
}