* {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: #747474;
}

.joinhead {
  text-align: center;
}

.loginhead h1 {
  position: absolute;
  height: 58px;
  left: 904px;
  top: 296px;

  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  width: 111px;
  color: black;
}

input {
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  padding-left: 43;
  width: 505px;

  border: none;
  outline: none;
  background: #f5f6f1;
  border-radius: 15px;

  font-size: 24px;
  text-align: center;
}

.insertID {
  position: absolute;
  display: flex;

  width: 505px;
  height: 83px;
  left: 708px;
  top: 414px;

  border: none;
  outline: none;
  background: #f5f6f1;
  border-radius: 15px;
}

.insertID ::-webkit-input-placeholder{
  background-image: 
  /* url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png); */
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFESURBVHgB3ZXdbcIwEMfP+XhnBDZoN6izAQskbSagnSArlAnSJspzuwFhg4yQEXjPF3fISAjwxeZDCH6SFSe27+87+y4CRkjTdOJ53hy7UjUQQlR93y+iKPoZWy9GjE99318OwzA9uViIummaII7jWmfDAQbOOEFjNIe8tBbIsuyDM74v4jjOp7UAuj8HQ1DgzVoAeQVzJJwhcBU4gRLMqeAMgRUYgge9sBZo2/YbF9YwbrzmEk4rgMmz7rou4ERojOYAA5vJOygn1LXd3awS24q8pI3AU6MNEdUX13VnmKUvqmRMMEz0BHUuayp22KdQVbqCdySg4v0OTHZqKFHs9/BGib0dS6yMqUmB41BefYVh+E/v22taFEWCP5XlpcYJZeMvz/NkK4idGX2AG4BnE5AHxmXZFoxKQgISboe8a7l+DIENc0+UO/FypVMAAAAASUVORK5CYII=);

  background-size: contain;
  background-position: 43px center;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: 20%;
}

.insertPWRD {
  position: absolute;
  display: flex;
  justify-content: space-between

  width: 505px;
  height: 83px;
  left: 708px;
  top: 537px;

  border: none;
  outline: none;
  background: #f5f6f1;
  border-radius: 15px;
}

.insertPWRD ::-webkit-input-placeholder{

  background-image: 
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAcCAYAAAB75n/uAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGNSURBVHgB7VbtTYRAEJ3d4/5jB3TglYAVqAXcKSVQAXbCEcJvS4CrQKxASrj/fPmGgCHAwRiPRBNfsuyyy7w3OzMLKFqA7/v2dru9x/ChrmuL55RSKbo0z/PAcZxkzl7NEJuGYfhMTHMESh0h5ELoLBZgcngdw+NdbzpBe2/Ht2h2T4R3czclYkwJbDYbryNHn4HA2e/3ycAJC8/FWLP4WTjkYdqlpR2wIULz0ZGXZcmeZTS9UxZ5g4jJ90VR3Ax3oSe8t78WtU4ukTN4DU4EPdtRvkYCXaUwqqo60QLaihrZXhS4NlYXaJLMhwnxe2oUtd71yjPhRM8SoIqoLVkOF8Lahex0OByOKooiD5MvtALgnKtxeaaVgB15eirzV4T596vodwggT2c0h9813HjMcxJbg2RwuaZ798cwDDP08ZKhaAcD8gbD1/ePBHDSdxNzFgkgEsDHxO8Ttl+8V4mtQixrkoGTmra9jWZKjKRJppbQpm/i/ySLBBJaCfxTpnH0HzEOpEdfAubq/vg+AXRIvpMa8VZ9AAAAAElFTkSuQmCC);


  background-size: contain;
  background-position: 43px center;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: 20%;
}

.btn {
  position: absolute;
  width: 505px;
  height: 69px;
  left: 708px;
  top: 660px;

  background: #93a761;
  border-radius: 15px;

  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;

  display: inline;
  cursor: pointer;
}

.find {
  position: absolute;
  width: 221px;
  height: 26px;
  left: 850px;
  top: 758px;

  /* font-style: normal;
  font-weight: normal; */
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #747474;
}

.footer {
  position: absolute;
  width: 1920px;
  height: 128px;
  left: 3px;
  top: 974px;
  background-color: #93a761;

  margin: 0px;
  padding: 0px;
}

