#mypage_nav_bar2 {
    visibility:visible!important;
}
#my_nav2 > a {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    
    color: #000000;
}

.myadopt_contents_box {
    margin-left: 82px;
    width: 890px;
}
.myadopt_contents_box > h6 {
    margin-top: 7px;
    margin-bottom: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #787878;
}
/* ul 내용 */
.myadopt_list_box {
    height: 941px;
}
.myadopt_list {
    width: 890px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.myadopt_list:not(:last-child) {
    margin-bottom: 60px;

}
.myadopt_list_contents_box {
    position: absolute;
    margin-left: 52px;
    margin-top: 28px;
}
.myadopt_list_date {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
}
.myadopt_list_contents_box > hr {
    width: 788px;
    margin-top: 25px;
    margin-bottom: 29px;
    border: 1px solid #A3A3A3;
}
/* li 안에 사진 등 가로로 컨텐츠들 */
.myadopt_list_contents {
    display: flex;
    
    /* background: red; */
}
.main_img {
    width: 118px;
    height: 93px;
    border-radius: 15px;
}
.myadopt_list_title_id {
    margin-left: 24px;
}
.myadopt_list_title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #787878;
}
.myadopt_list_id {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #A3A3A3;
}
.submitwrt_btn {
    position: absolute;
    right: 0px;
    bottom: 66px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: right;
    text-decoration-line: underline;
    color: #A3A3A3;
}
.approval_img {
    position: absolute;
    width: 105px;
    height: 44px;
    right: 0px;
    bottom: 0px;
    background: #FFFFFF;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
}
.my_paging_nav {
    /* background-color: lightsteelblue; */
    margin-left: 670px;
    width: 890px;
}
.my_paging {
    display: flex;
    justify-content: center;

    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #000000;
}
.my_paging_item:not(:first-child)  {
    margin-right: 17px;
}
.my_paging_item:nth-last-child(2) {
    margin-right: 0px;
}
#my_prev_btn,
#my_next_btn {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.my_paging_link > img {
    margin: auto;
    /* margin-top: 9.74px;
    margin-left: 11.13px; */
    width: 9.04px;
    height: 12.52px;
}
#my_prev_btn {
    margin-right: 22px;
}
#my_next_btn {
    margin-left: 22px;
}


