* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
/* 드래그 방지 */
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.my_bg {
    margin: auto;
    width: 1920px;
}
.my_top {
    margin: auto;
    margin-top: 71px;
    width: 1200px;
}
.my_top > h3{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    color: #535353;
}
.my_top > hr {
    margin-top: 62px;
    color: #A3A3A3;
}
.mypage_id {
    display: flex;
    margin: auto;
    margin-top: 53px;
    width: 1200px;
}
.my_icon_img {
    text-align: center;
    width: 46px;
    height: 46px;
    border-radius: 100%;
}
.my_username_box {
    display: flex;
}
.my_username {
    margin-left: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    color: #93A761;
}
.nim {
    margin: auto;
    margin-left: 20px;
    margin-bottom: 0px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #787878;
}
.my_nav_box {
    display: flex;
    margin: auto;
    margin-top: 62px;
    width: 1200px;
}
.my_nav {
    width: 211px;
}
.my_nav > li {
    width: 211px;
    height: 34px;
}
.my_nav > li > a:hover {
    color: #000000;
}
.my_nav > li:not(:last-child) {
    margin-bottom: 45px;
}
.mypage_nav_bar {
    height: 34px;
    visibility: hidden;
}
.my_nav > li > a {
    position: relative;
    top: -7px;
    margin-left: 29px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #787878;
}