* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}
/* 임시 */
/* .header {
  width: 1920px;
  height: 152px;
  margin-bottom: 40px;
  text-align: center;
} */

.reviewwrt_bg {
  width: 1920px;
}

.wrt {
  margin: 0 360px 0 360px;
}

.title {
  margin: 77px 0px 59px 0px;
  height: 70px;
  width: 1200px;
}

.title input {
  height: 70px;
  width: 984px;
  border: none;

  color: #a3a3a3;
  font-size: 24px;
  text-indent: 1%;
}

input:focus {
  outline: none;
}

hr {
  background-color: #a3a3a3;
}

.register {
  display: flex;
  justify-content: center;
}
.register input {
  margin-top: 63px;

  height: 80px;
  width: 371px;

  background: rgba(147, 167, 97, 1);
  font-size: 32px;
  color: white;

  border: none;
  border-radius: 15px;
}
