.review_datilpage_bg {
    margin: auto;
    margin-top: 35px;
    width: 1920px;
}
.review_detailpage_top_title_date {
    margin: auto;
    margin-top: 59px;
    width: 1200px;
}
.review_detailpage_top_title_date > h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #93A761;
}
.date_id {
    display: flex;
    margin-top: 23px;
}
.date_id > h6 {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #A3A3A3;
}
.date_id >img {
    height: 21px;
    margin: auto;
    margin-left: 21px;
    margin-right: 21px;
}
.review_detailpage_writer {
    margin-left: 13px;
}
hr {
    margin: auto;
    margin-top: 29px;
    width: 1200px;
    border: 1px solid #787878;
}
.review_contents {
    margin: auto;
    margin-top: 58px;
    width: 1200px;
    text-align: center;
}
.review_detailpage_bott {
    margin: auto;
    margin-top: 46px;
    width: 1200px;
    text-align: center;
}
.caution_box {
    margin: auto;
    width: 820px;
    height: 86px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 86px;
    color: #000000;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.go_review_list_btn {
    margin: auto;
    margin-top: 72px;
    width: 226px;
    height: 51px;
    border: none;
    background: #93A761;
    border-radius: 10px;
    
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;

    cursor: pointer;
}
.go_review_list_btn:hover {
    font-size: 24.5px;
}