* {
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

.intro_text {
  width: 1920px;
  height: 542px;
  background-color: green;
}
.intro_text > h1 {
  margin: auto;
  padding-top: 241px;
  text-align: center;
}
.home_emergency_top {
  width: 1920px;
  height: 100px;
  background-color: red;
}

.home_emergency_text > h1 {

}