
.wrt_bg {
  margin-top: 35px;
}
.title {
  margin: 22px 0px 0px 0px;
  height: 70px;
  width: 1200px;
}
.wrt {
  margin: 0 360px 0 360px;
}
.title input {
  height: 70px;
  width: 984px;
  border: none;
  color: black;
  font-size: 24px;
  text-indent: 1%;
}
input:focus {
  outline: none;
}
hr {
  background-color: #a3a3a3;
}
.photo {
  margin: 107px 0 106px 374px;
}
#chooseFile {
  visibility: hidden;
}
.register {
  display: flex;
  justify-content: center;
}
.register input {
  margin-top: 103px;
  height: 70px;
  width: 312px;
  background: rgba(147, 167, 97, 1);
  font-size: 24px;
  color: white;
  border: none;
  border-radius: 15px;
}
.regibtn {
  cursor: pointer;
}
.basicinfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 112px;
}
.basicinfo td {
  border: none;
}
.basicinfo th {
  width: 183px;
  height: 72px;
  border: none;
  background-color: #f5f6f1;
  text-align: left;
  text-indent: 22px;
  font-size: 24px;
  color: #787878;
}
.basicinfo input {
  margin-left: 17px;
  height: 54px;
  border: none;
  border-bottom: #a3a3a3 solid 1px;
  font-size: 24px;
}
.basicinfo select {
  margin-left: 17px;
  height: 33px;
  width: 138px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  text-align: left;
}
select:focus {
  outline: none;
}
h4 {
  margin-bottom: 30px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  color: #787878;
}
.vacci,
.neuter {
  margin-left: 17px;
  margin-right: 180px;
  display: flex;
  justify-content: space-between;
}
.vacci input[type="radio"],
.neuter input[type="radio"] {
  display: none;
}
.vacci input[type="radio"] + span,
.neuter input[type="radio"] + span {
  height: 33px;
  width: 75px;
  border-radius: 10px;
  border: none;
  background-color: #ffff;
  color: black;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer;
}
.vacci input[type="radio"]:checked + span,
.neuter input[type="radio"]:checked + span {
  background-color: #93a761;
  color: #ffffff;
}
